@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: rgb(36, 39, 39);

}

@font-face {
font-family: Roboto condensed;
src: url(./assets/RobotoCondensed-VariableFont_wght.ttf);
}

html {
  font-family: "Roboto condensed";
}
